@font-face {
    font-family: Inter;
    font-weight: normal;
    src: url("./Inter-Regular.woff2")
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    src: url("./Inter-Medium.woff2")
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src: url("./Inter-Bold.woff2")
}

