html.dark {
  --md-sys-color-primary: rgb(229 182 242);
  --md-sys-color-surface-tint: rgb(229 182 242);
  --md-sys-color-on-primary: rgb(69 33 82);
  --md-sys-color-primary-container: rgb(93 56 107);
  --md-sys-color-on-primary-container: rgb(249 216 255);
  --md-sys-color-secondary: rgb(213 192 215);
  --md-sys-color-on-secondary: rgb(57 44 61);
  --md-sys-color-secondary-container: rgb(81 66 84);
  --md-sys-color-on-secondary-container: rgb(241 220 243);
  --md-sys-color-tertiary: rgb(245 183 180);
  --md-sys-color-on-tertiary: rgb(76 37 36);
  --md-sys-color-tertiary-container: rgb(102 59 57);
  --md-sys-color-on-tertiary-container: rgb(255 218 215);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(22 18 23);
  --md-sys-color-on-background: rgb(234 224 231);
  --md-sys-color-surface: rgb(22 18 23);
  --md-sys-color-on-surface: rgb(234 224 231);
  --md-sys-color-surface-variant: rgb(76 68 77);
  --md-sys-color-on-surface-variant: rgb(206 195 205);
  --md-sys-color-outline: rgb(152 142 151);
  --md-sys-color-outline-variant: rgb(76 68 77);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(234 224 231);
  --md-sys-color-inverse-on-surface: rgb(52 47 52);
  --md-sys-color-inverse-primary: rgb(119 80 132);
  --md-sys-color-primary-fixed: rgb(249 216 255);
  --md-sys-color-on-primary-fixed: rgb(46 10 60);
  --md-sys-color-primary-fixed-dim: rgb(229 182 242);
  --md-sys-color-on-primary-fixed-variant: rgb(93 56 107);
  --md-sys-color-secondary-fixed: rgb(241 220 243);
  --md-sys-color-on-secondary-fixed: rgb(36 23 39);
  --md-sys-color-secondary-fixed-dim: rgb(213 192 215);
  --md-sys-color-on-secondary-fixed-variant: rgb(81 66 84);
  --md-sys-color-tertiary-fixed: rgb(255 218 215);
  --md-sys-color-on-tertiary-fixed: rgb(51 17 16);
  --md-sys-color-tertiary-fixed-dim: rgb(245 183 180);
  --md-sys-color-on-tertiary-fixed-variant: rgb(102 59 57);
  --md-sys-color-surface-dim: rgb(22 18 23);
  --md-sys-color-surface-bright: rgb(61 55 61);
  --md-sys-color-surface-container-lowest: rgb(17 13 18);
  --md-sys-color-surface-container-low: rgb(31 26 31);
  --md-sys-color-surface-container: rgb(35 30 35);
  --md-sys-color-surface-container-high: rgb(45 40 46);
  --md-sys-color-surface-container-highest: rgb(56 51 57);
}
