:root {
  --md-source: #4A2558;
  --md-ref-typeface-plain: "Roboto";

  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #1e002b;
  --md-ref-palette-primary5: #220030;
  --md-ref-palette-primary6: #260035;
  --md-ref-palette-primary10: #320046;
  --md-ref-palette-primary12: #39004e;
  --md-ref-palette-primary17: #450d5a;
  --md-ref-palette-primary20: #4c1661;
  --md-ref-palette-primary22: #511b66;
  --md-ref-palette-primary24: #56216b;
  --md-ref-palette-primary25: #58236d;
  --md-ref-palette-primary30: #652f7a;
  --md-ref-palette-primary35: #723c87;
  --md-ref-palette-primary40: #7f4894;
  --md-ref-palette-primary50: #9a61ae;
  --md-ref-palette-primary60: #b67aca;
  --md-ref-palette-primary70: #d294e7;
  --md-ref-palette-primary80: #edb1ff;
  --md-ref-palette-primary87: #f5ccff;
  --md-ref-palette-primary90: #f9d8ff;
  --md-ref-palette-primary92: #fbdfff;
  --md-ref-palette-primary94: #fde7ff;
  --md-ref-palette-primary95: #feebff;
  --md-ref-palette-primary96: #ffeffe;
  --md-ref-palette-primary98: #fff7fb;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #150a19;
  --md-ref-palette-secondary5: #180c1c;
  --md-ref-palette-secondary6: #1b0f1f;
  --md-ref-palette-secondary10: #241727;
  --md-ref-palette-secondary12: #281b2c;
  --md-ref-palette-secondary17: #332537;
  --md-ref-palette-secondary20: #392c3d;
  --md-ref-palette-secondary22: #3e3042;
  --md-ref-palette-secondary24: #433446;
  --md-ref-palette-secondary25: #453649;
  --md-ref-palette-secondary30: #514254;
  --md-ref-palette-secondary35: #5d4d60;
  --md-ref-palette-secondary40: #69596d;
  --md-ref-palette-secondary50: #837186;
  --md-ref-palette-secondary60: #9d8ba0;
  --md-ref-palette-secondary70: #b9a5bb;
  --md-ref-palette-secondary80: #d5c0d7;
  --md-ref-palette-secondary87: #e9d3eb;
  --md-ref-palette-secondary90: #f1dcf3;
  --md-ref-palette-secondary92: #f7e1f9;
  --md-ref-palette-secondary94: #fde7ff;
  --md-ref-palette-secondary95: #feebff;
  --md-ref-palette-secondary96: #ffeffe;
  --md-ref-palette-secondary98: #fff7fb;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #000e24;
  --md-ref-palette-tertiary5: #001129;
  --md-ref-palette-tertiary6: #00132d;
  --md-ref-palette-tertiary10: #001b3c;
  --md-ref-palette-tertiary12: #001f43;
  --md-ref-palette-tertiary17: #002a55;
  --md-ref-palette-tertiary20: #003061;
  --md-ref-palette-tertiary22: #003568;
  --md-ref-palette-tertiary24: #003970;
  --md-ref-palette-tertiary25: #003b74;
  --md-ref-palette-tertiary30: #004788;
  --md-ref-palette-tertiary35: #0e5299;
  --md-ref-palette-tertiary40: #235fa6;
  --md-ref-palette-tertiary50: #4278c1;
  --md-ref-palette-tertiary60: #5e92dd;
  --md-ref-palette-tertiary70: #7aadfa;
  --md-ref-palette-tertiary80: #a7c8ff;
  --md-ref-palette-tertiary87: #c8dbff;
  --md-ref-palette-tertiary90: #d5e3ff;
  --md-ref-palette-tertiary92: #dee8ff;
  --md-ref-palette-tertiary94: #e7eeff;
  --md-ref-palette-tertiary95: #ebf1ff;
  --md-ref-palette-tertiary96: #f0f3ff;
  --md-ref-palette-tertiary98: #f9f9ff;
  --md-ref-palette-tertiary99: #fdfbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #100d10;
  --md-ref-palette-neutral5: #131013;
  --md-ref-palette-neutral6: #151216;
  --md-ref-palette-neutral10: #1e1b1e;
  --md-ref-palette-neutral12: #221f22;
  --md-ref-palette-neutral17: #2c292c;
  --md-ref-palette-neutral20: #332f33;
  --md-ref-palette-neutral22: #373437;
  --md-ref-palette-neutral24: #3c383b;
  --md-ref-palette-neutral25: #3e3a3e;
  --md-ref-palette-neutral30: #4a4549;
  --md-ref-palette-neutral35: #565155;
  --md-ref-palette-neutral40: #625d61;
  --md-ref-palette-neutral50: #7b7579;
  --md-ref-palette-neutral60: #958f93;
  --md-ref-palette-neutral70: #b0a9ae;
  --md-ref-palette-neutral80: #ccc4c9;
  --md-ref-palette-neutral87: #dfd8dc;
  --md-ref-palette-neutral90: #e8e0e5;
  --md-ref-palette-neutral92: #eee6ea;
  --md-ref-palette-neutral94: #f4ecf0;
  --md-ref-palette-neutral95: #f7eff3;
  --md-ref-palette-neutral96: #f9f1f6;
  --md-ref-palette-neutral98: #fff7fb;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #120c13;
  --md-ref-palette-neutral-variant5: #150f16;
  --md-ref-palette-neutral-variant6: #171118;
  --md-ref-palette-neutral-variant10: #201a21;
  --md-ref-palette-neutral-variant12: #241e25;
  --md-ref-palette-neutral-variant17: #2e282f;
  --md-ref-palette-neutral-variant20: #352e36;
  --md-ref-palette-neutral-variant22: #39323a;
  --md-ref-palette-neutral-variant24: #3e373f;
  --md-ref-palette-neutral-variant25: #403941;
  --md-ref-palette-neutral-variant30: #4c444d;
  --md-ref-palette-neutral-variant35: #585058;
  --md-ref-palette-neutral-variant40: #645c64;
  --md-ref-palette-neutral-variant50: #7d747d;
  --md-ref-palette-neutral-variant60: #988e97;
  --md-ref-palette-neutral-variant70: #b3a8b2;
  --md-ref-palette-neutral-variant80: #cec3cd;
  --md-ref-palette-neutral-variant87: #e2d6e1;
  --md-ref-palette-neutral-variant90: #ebdfe9;
  --md-ref-palette-neutral-variant92: #f1e5ef;
  --md-ref-palette-neutral-variant94: #f7eaf5;
  --md-ref-palette-neutral-variant95: #faedf8;
  --md-ref-palette-neutral-variant96: #fdf0fb;
  --md-ref-palette-neutral-variant98: #fff7fb;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #7f4894;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #f9d8ff;
  --md-sys-color-on-primary-container-light: #320046;
  --md-sys-color-primary-fixed-light: #f9d8ff;
  --md-sys-color-on-primary-fixed-light: #320046;
  --md-sys-color-primary-fixed-dim-light: #edb1ff;
  --md-sys-color-on-primary-fixed-variant-light: #652f7a;
  --md-sys-color-secondary-light: #69596d;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #f1dcf3;
  --md-sys-color-on-secondary-container-light: #241727;
  --md-sys-color-secondary-fixed-light: #f1dcf3;
  --md-sys-color-on-secondary-fixed-light: #241727;
  --md-sys-color-secondary-fixed-dim-light: #d5c0d7;
  --md-sys-color-on-secondary-fixed-variant-light: #514254;
  --md-sys-color-tertiary-light: #235fa6;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #d5e3ff;
  --md-sys-color-on-tertiary-container-light: #001b3c;
  --md-sys-color-tertiary-fixed-light: #d5e3ff;
  --md-sys-color-on-tertiary-fixed-light: #001b3c;
  --md-sys-color-tertiary-fixed-dim-light: #a7c8ff;
  --md-sys-color-on-tertiary-fixed-variant-light: #004788;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1e1b1e;
  --md-sys-color-outline-light: #7d747d;
  --md-sys-color-inverse-on-surface-light: #f7eff3;
  --md-sys-color-inverse-surface-light: #332f33;
  --md-sys-color-inverse-primary-light: #edb1ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #7f4894;
  --md-sys-color-outline-variant-light: #cec3cd;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fff7fb;
  --md-sys-color-on-surface-light: #1e1b1e;
  --md-sys-color-surface-variant-light: #ebdfe9;
  --md-sys-color-on-surface-variant-light: #4c444d;
  --md-sys-color-surface-container-highest-light: #e8e0e5;
  --md-sys-color-surface-container-high-light: #eee6ea;
  --md-sys-color-surface-container-light: #f4ecf0;
  --md-sys-color-surface-container-low-light: #f9f1f6;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dfd8dc;
  --md-sys-color-surface-bright-light: #fff7fb;
  /* dark */
  --md-sys-color-primary-dark: #edb1ff;
  --md-sys-color-on-primary-dark: #4c1661;
  --md-sys-color-primary-container-dark: #652f7a;
  --md-sys-color-on-primary-container-dark: #f9d8ff;
  --md-sys-color-primary-fixed-dark: #f9d8ff;
  --md-sys-color-on-primary-fixed-dark: #320046;
  --md-sys-color-primary-fixed-dim-dark: #edb1ff;
  --md-sys-color-on-primary-fixed-variant-dark: #652f7a;
  --md-sys-color-secondary-dark: #d5c0d7;
  --md-sys-color-on-secondary-dark: #392c3d;
  --md-sys-color-secondary-container-dark: #514254;
  --md-sys-color-on-secondary-container-dark: #f1dcf3;
  --md-sys-color-secondary-fixed-dark: #f1dcf3;
  --md-sys-color-on-secondary-fixed-dark: #241727;
  --md-sys-color-secondary-fixed-dim-dark: #d5c0d7;
  --md-sys-color-on-secondary-fixed-variant-dark: #514254;
  --md-sys-color-tertiary-dark: #a7c8ff;
  --md-sys-color-on-tertiary-dark: #003061;
  --md-sys-color-tertiary-container-dark: #004788;
  --md-sys-color-on-tertiary-container-dark: #d5e3ff;
  --md-sys-color-tertiary-fixed-dark: #d5e3ff;
  --md-sys-color-on-tertiary-fixed-dark: #001b3c;
  --md-sys-color-tertiary-fixed-dim-dark: #a7c8ff;
  --md-sys-color-on-tertiary-fixed-variant-dark: #004788;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1e1b1e;
  --md-sys-color-on-background-dark: #e8e0e5;
  --md-sys-color-outline-dark: #988e97;
  --md-sys-color-inverse-on-surface-dark: #1e1b1e;
  --md-sys-color-inverse-surface-dark: #e8e0e5;
  --md-sys-color-inverse-primary-dark: #7f4894;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #edb1ff;
  --md-sys-color-outline-variant-dark: #4c444d;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #151216;
  --md-sys-color-on-surface-dark: #ccc4c9;
  --md-sys-color-surface-variant-dark: #4c444d;
  --md-sys-color-on-surface-variant-dark: #cec3cd;
  --md-sys-color-surface-container-highest-dark: #373437;
  --md-sys-color-surface-container-high-dark: #2c292c;
  --md-sys-color-surface-container-dark: #221f22;
  --md-sys-color-surface-container-low-dark: #1e1b1e;
  --md-sys-color-surface-container-lowest-dark: #100d10;
  --md-sys-color-surface-dim-dark: #151216;
  --md-sys-color-surface-bright-dark: #3c383b;
  /* Custom Colors */
  --md-custom-color-Custom-Color-1: #D4A923;
  --md-custom-color-Custom-Color-2: #06203F;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Poppins, Roboto, sans-serif;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}

md-primary-tab {
  --md-ref-typeface-plain: "Poppins";
}