@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../assets/fonts/font.scss");
@import "variables.scss";

:root {
  ::selection {
    background-color: $purple-container;
    color: $purple;
  }
}

body {
  background: radial-gradient(circle at 50%, #{$purple}, #{$purple-variant}, #{$purple}, #{$purple-variant});
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}

#app {
  @apply h-screen;
}