@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./toast.scss");
@import url("./theme/theme.scss");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

:root, body {
  scroll-behavior: smooth;
}

:root {
  ::selection {
    @apply bg-primary text-on-primary;
  }

  --md-checkbox-container-shape: 4px;
  --md-ref-typeface-brand: sans-serif;
  
  @apply overflow-x-hidden h-full min-h-full;
}

html, body, #app {
  @apply min-h-screen w-screen;
}

.slide-fade-enter-active {
  transition: all 0.15s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

body {
  --sal-duration: 500ms;
  @apply bg-surface-container-high dark:bg-surface text-on-surface-variant;
}

*::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

*::-webkit-scrollbar-track {
  @apply bg-surface-container;
}

*::-webkit-scrollbar-thumb {
  @apply bg-outline-variant dark:bg-surface-container-high;
  border-radius: 20px;
}

img {
  -webkit-user-drag: none;
}

.swiper {
  overflow: visible !important;
}

.surface {
  @apply bg-surface-variant text-on-surface-variant p-7 rounded-[28px] text-left;

  h2 {
    @apply relative w-min whitespace-nowrap z-10;

    &::before {
      content: '';
      z-index: -1;
      @apply absolute bg-neutral-600 dark:bg-neutral-400 w-full h-1/2 opacity-25 rounded-md translate-y-full;
    }
  }

  p {
    @apply leading-7;
  }
}

.surface.high {
  @apply bg-surface-container-high text-on-surface-variant;
}

.surface.tertiary {
  @apply bg-tertiary-container text-on-tertiary-container dark:bg-surface-container-high dark:text-on-surface-variant;
}

.surface.primary {
  @apply bg-primary-container text-on-primary-container;
}

.surface.secondary {
  @apply bg-secondary-container text-on-secondary-container;
}

.surface.error {
  @apply bg-error-container text-on-error-container;
}

.hide-scrollbar {
  @apply px-6;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

md-filled-button, md-text-button,
md-outlined-button, md-filled-tonal-button,
md-elevated-button {
  --_label-text-type: var(--md-text-button-label-text-type, var(--md-sys-typescale-label-large, 500 0.875rem / 1.25rem var(--md-ref-typeface-plain, 'Inter')));
  
  &.secondary {
    --md-sys-color-primary: var(--md-sys-color-outline);
  }
}

md-filled-button {
  @apply rounded-full;
  box-shadow: 0 0 75px -20px var(--md-sys-color-primary);
}

md-outlined-select.dense::part(menu), md-filled-select.dense::part(menu) {
  max-height: 350px;
}

.file-input {
  @apply bg-surface-container-high w-full text-sm rounded-md
    placeholder:text-on-surface-variant file:bg-surface-container-high file:rounded-md
    file:border-none file:mr-2 file:px-4 file:py-2 file:cursor-pointer
    file:text-on-surface-variant ;
}

.font-reset {
  font-family: Roboto, Arial, sans-serif;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 50px -30px var(--md-sys-color-primary);
  }
  100% {
    box-shadow: 0 0 50px -50px var(--md-sys-color-primary);
  }
}