@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  ::selection {
    background-color: $purple-container;
    color: $purple;
  }
}

body {
  background: radial-gradient(circle at 50%, #{$purple}, #121212, #121212, #121212);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}
