@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./theme/theme.scss");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  ::selection {
    @apply bg-primary text-on-primary;
  }
  
  @apply overflow-x-hidden h-full min-h-full;
}

html, body, #app {
  @apply h-full;
}

.slide-fade-enter-active {
  transition: all 0.15s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

body {
  @apply h-full min-h-full bg-background text-on-background;
}

*::-webkit-scrollbar {
  width: 8px !important;
}

*::-webkit-scrollbar-track {
  @apply bg-surface;
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 20px;
}

img {
  -webkit-user-drag: none;
}

.swiper {
  overflow: visible !important;
}

.surface {
  @apply bg-surface-variant text-on-surface-variant p-7 rounded-[28px]
    transition-shadow duration-200 hover:shadow-lg;

  h2 {
    @apply relative w-min whitespace-nowrap z-10;

    &::before {
      content: '';
      z-index: -1;
      @apply absolute bg-neutral-600 dark:bg-neutral-400 w-full h-1/2 opacity-25 rounded-md translate-y-full;
    }
  }

  p {
    @apply leading-7;
  }
}

.surface.tertiary {
  @apply bg-tertiary-container text-on-tertiary-container;
}

.surface.primary {
  @apply bg-primary-container text-on-primary-container;
}

.surface.secondary {
  @apply bg-secondary-container text-on-secondary-container;
}

md-filled-button, md-text-button,
md-outlined-button, md-tonal-button,
md-elevated-button {
  --_label-text-type: var(--md-text-button-label-text-type, var(--md-sys-typescale-label-large, 500 0.875rem / 1.25rem var(--md-ref-typeface-plain, 'Poppins')));
}